body {
    .overzine-opener {
        height: calc(100vh - 50px);
        width: 100vw;
        position: relative;
        z-index: 5;
        @include mq(desktop) {
            width: calc(100vh / (16/9));
            height: 100vh;
            min-height:800px;
            min-width: 700px;
            position: -webkit-sticky;
            position: sticky;
            float:left;
            display: block;
            box-sizing: border-box;
            padding: 40px;
            top:0;
        }

        &__svg {
            width: 100%;
            height: 100%;
        }
        &__headline {
            color:#000;
        }

        &__layer1 { display: block; position: absolute; width: 100%; height: 100%; }
        &__layer2 { display: block; position: absolute; width: 100%; height: 100%; }
        &__layer3 { display: block; position: absolute; width: 100%; height: 100%; }

        &__image { position: absolute; right: 0; bottom: 0; z-index: 5; width: 100%; }
        &__text {
            display: block;
            position: absolute;
            z-index:10;
            bottom: 0px;
            left:15px;
            right:15px;
            top:65px;
            justify-content: start;
            @include mq(desktop) {
                top: 45px;
                left: 50px;
                right: 25px;
                padding: 40px;
            }
        }
        &__headline {
            z-index: 9;
            font-family: 'Inter';
            font-weight: 600;
            line-height: 120%;
            font-size: 38px;
            margin-top: 5px;
            @include mq(desktop) {
                line-height: 120%;
                font-size: 50px;
                margin-top: 15px;
            }
        }
        &__swipeup{
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height:55px;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-name: bounce-swipeup;
            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        @include mq(desktop) {
            &__swipeup {
                display: none;
            }
        }
        &__kicker {
            z-index: 9;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 100%;
            text-transform: uppercase;
            @include mq(desktop) {
                font-size: 2.1rem;
            }
        }
        &--background-gradient {
            .overzine-opener__layer2{
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,c9c9c9+100&0.99+0,0.02+100 */
                //background: -webkit-radial-gradient(60% bottom, ellipse cover, rgba(155, 155, 155, 0.35) 0%,rgba(155,155,155,0.02) 100%); /* Chrome10-25,Safari5.1-6 */
            }
        }



        /* THEME: ZINE1 */
        &--background-zine1 {
            .overzine-opener__layer1{
                display: block;
                width: 100%;
                height: 100%;
                mix-blend-mode: darken;
                position: absolute;
                top: 0;
                left: 0;
                z-index:3;
            }
            
            .overzine-opener__layer2{
                background: url('/images/pattern/zine1b.jpg');
                background-size: 100%;
                z-index:1;
            }
            .overzine-opener__layer3 {
                display: block;
                width: 100%;
                height: 100%;
                mix-blend-mode: lighten;
                position: absolute;
                top: 0;
                left: 0;
                z-index:4;
            }
            
        }

        &--image-pngduotone {

            .overzine-opener__imagelayer1{
                display: block; position: absolute; width: 100%; height: 100%;
                z-index: 4;
            }
            .overzine-opener__imagelayer2{
                display: block; position: absolute; width: 100%; height: 100%;
                z-index: 6;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                mix-blend-mode: screen;
                position: absolute;
                top: 0;
                left: 0;
            }

            .overzine-opener__image{
                mix-blend-mode: multiply;
                -webkit-filter: grayscale(100%) contrast(1.0);
            }
        }

    }
}

  
  @keyframes bounce-swipeup {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  