{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "serviceworker": true
  },
  "globals": {
    "workbox": true
  },
  "plugins": [
    "react",
    "compat",
    "no-storage"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "comma-dangle": ["error", "always-multiline"],
    "linebreak-style": "off",
    "compat/compat": "off",
    "no-storage/no-browser-storage": 2
  }
}
  