@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  src: url('/fonts/InterUi/Inter-Medium.woff2') format('woff2'),
       url('/fonts/InterUi/Inter-Medium.woff') format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url('/fonts/InterUi/Inter-SemiBold.woff2') format('woff2'),
       url('/fonts/InterUi/Inter-SemiBold.woff') format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  bold;
  font-weight: 600;
  src: url('/fonts/InterUi/Inter-Bold.woff2') format('woff2'),
       url('/fonts/InterUi/Inter-Bold.woff') format("woff");
}

// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.5rem;
$l-size: 4.5rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$content-width: 660px;

$global-mq-breakpoints: (
  mobile: 'screen and (max-width: 48em)', // until 768px (iPad)
  desktop: 'screen and (min-width: 48.0625em)', // 769px and larger
);

@mixin mq($mq-name, $breakpoints: $global-mq-breakpoints) {
  $breakpoint-condition: map-get($global-mq-breakpoints, $mq-name);

  @if ($breakpoint-condition) {
    @media #{$breakpoint-condition} {
      @content;
    }
  }

  @else {
    @error "Breakpoint ‘#{$mq-name}’ does not exist.";
  }
}

html {
    font-size: 62.5%;
}
  
body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: $m-size;
  line-height: $m-size*2;
}
h1, h2, h3, h4, p {
margin:0; padding:0;
}
